{% extends 'base.html.twig' %}



{% block body %}
{%for message in app.flashes('success')%}

    <div class="alert alert-success" >
        <h3> {{message}} </h3>
    </div>    
{% endfor %}

<br>
<div class="container" >
    
    <h2> Room Edit </h2>
    <br>
    <table class="table table-striped" >
        <thead>
            <tr>
                <td>Name</td>    
                <td>Description</td>
                <td>Price</td>    
                <td>Delete</td>
                <td><a href=" {{path ('room.create')}} " >Create </a></td>


            </tr>
            </thead> 
            <tbody>
                {% for room in rooms %}
                    <tr>
                        <td> {{room.name}} </td>
                        <td> {{room.description}} </td>
                        <td> {{room.price}} </td>
                        <td><a href=" {{path ('room.delete', {id: room.id})}} " >    X </a></td>

                    </tr>
                {% endfor %}
            </tbody>

    </table>
</div>
{% endblock %}
