{% extends 'base.html.twig' %}



{% block body %}

{% for message in app.flashes('reserver') %}
	<div class="alert alert-success" >
	<h3>{{ messages }}<h3>
	<div>
{% endfor %}	

	
	<section class="playlist-section spad">
		<div class="container-fluid">
			<div class="section-title">
				<h2>Chambres</h2>
			</div>
			<div class="container">
			{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
				<p> Merci de vous conecter pour pouvoir reserver une chambre <a href="{{ path('app_login')}}" class="register">Login</a> </p>	
			{% endif %}
			</div> 
			<div class="container">
				<ul class="playlist-filter controls">
					<li class="control" data-filter=".Toulouse">Toulouse</li>
					<li class="control" data-filter=".Paris">Paris</li>
					<li class="control" data-filter=".Bordeaux">Bordeaux</li>
					<li class="control" data-filter=".Lyon">Lyon</li>
					<li class="control" data-filter=".Montpellier">Montpellier</li>
					<li class="control" data-filter=".Lille">Lille</li>
					<li class="control" data-filter=".Nantes">Nantes</li>
					<li class="control" data-filter="all">Toutes nos chambres</li>
				</ul>
			</div> 
			                                            
			<div class="clearfix"></div>
			<div class="row playlist-area">
			{% for room in rooms %}
				<div class="mix col-lg-3 col-md-4 col-sm-6 {{room.category}}">
					<div class="playlist-item">
						<img src=" {{asset('images/' ~ room.image)}} ">
						<h5>{{room.name}} - EUR {{room.price}} </h5>
						<p> {{room.description}} </p>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<a class="btn btn-outline-danger btn-sm" href=" {{path('room.show', {id: room.id})}} "  > Réserver </a>
						{% endif %}
						
					</div>
				</div>
			{% endfor %}	
			</div>
		</div>
	</section>
	
{% endblock %}
