{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<!--  section -->
<section class="hero-section">
    <div class="hero-slider owl-carousel">
        <div class="hs-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hs-text">
                            <h2><span>{{rooms1.name}}</span> !</h2>
                            <p> Confort et romance {{rooms1.description}} pour {{rooms1.price}} € </p>
                            <a href="{{ path('hotel')}}" class="site-btn">Chambres</a>
                            <a href="{{ path('reservationsres', {id: rooms1.id} )}}" class="site-btn sb-c2">Reserver</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hr-img">
                            <img src="{{asset('images/' ~ rooms1.image)}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hs-text">
                            <h2><span>{{rooms2.name}}</span> !</h2>
                            <p> Confort et romance {{rooms2.description}} pour {{rooms2.price}} € </p>
                            <a href="{{ path('hotel')}}" class="site-btn">Chambres</a>
                            <a href="{{ path('reservationsres', {id: rooms2.id} )}}" class="site-btn sb-c2">Reserver</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hr-img">
                            <img src="{{asset('images/' ~ rooms2.image)}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  section end -->

{% endblock %}
